<!-- TODO: Header? -->
<%= include('/partials/header') %>

<head>
    <link rel="stylesheet" href="/styles.css" />
</head>

<div class="main-content">
    <h1>Tyler's Voting App</h1>

    <p>There are <%= pollCount %> polls available.</p>

    <div class="button-container">
        <a href="/signup" class="action-button">Signup</a>
        <a href="/login" class="action-button">Login</a>
    </div>
</div>

</body>
</html>

